* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: crimson;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
.load {
  background-color: white;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding: 1rem;
  transition: 0.3s;
  border-radius: 50%;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
}
.two {
  animation-delay: 0.3s;
}
.three {
  animation-delay: 0.5s;
}
.four {
  animation-delay: 0.7s;
}
.five {
  animation-delay: 0.9s;
}

@keyframes loading {
  0% {
    width: 20px;
    height: 20px;
  }
  50% {
    width: 40px;
    height: 40px;
  }
}
